body {
  padding-bottom: 500px;
}
.flex {
  display: flex;
  margin-bottom: 20px;
}
.flex-column {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.flex-wrap {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.box {
  width: 33%;
  height: 40px;
  border: 1px solid red;
}
.center,
.space-between,
.space-around,
.end {
  display: flex;
  margin-bottom: 20px;
}
.center .box,
.space-between .box,
.space-around .box,
.end .box {
  width: 50px;
}
.center {
  justify-content: center;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.end {
  justify-content: end;
}
.align-center,
.flex-end,
.stretch {
  display: flex;
  margin-bottom: 20px;
  height: 200px;
  border: 1px solid blue;
}
.align-center .box,
.flex-end .box,
.stretch .box {
  width: 50px;
}
.align-center {
  align-items: center;
}
.flex-end {
  align-items: end;
}
.stretch {
  align-items: stretch;
}
.stretch .box {
  height: auto;
}
.gap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid green;
  gap: 10px;
}
.gap .box {
  width: 32%;
}
.order {
  display: flex;
}
#one {
  order: 1;
}
#two {
  order: 2;
}
#three {
  order: 3;
}
.grow {
  display: flex;
}
.grow .box {
  flex: 1;
}
.grow .big {
  flex: 2;
}
.basis {
  display: flex;
}
.basis .box {
  width: 20px;
}
.basis .big {
  flex-grow: 1;
}
.shrink {
  display: flex;
}
.shrink .box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
  width: auto;
}
.shrink .small {
  flex-shrink: 2;
}
.shorthand {
  display: flex;
}
.shorthand .box {
  width: auto;
  flex: 1 1 50px;
}
.shorthand .different {
  flex: 3 1 400px;
}
.auto-aligment {
  height: 300px;
  display: flex;
  align-items: flex-end;
  border: 1px solid red;
}
.auto-aligment .different {
  align-self: center;
}
