/* 1 - Geral */
* {
  padding: 0;
  margin: 0;
  font-family: Georgia;
}

body {
  background-color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #667;
  transition: 0.4s;
}

a:hover {
  color: #37a1f7;
}

/* 2 - Navbar */

#navbar {
  padding: 1.5rem 2.5rem;
  border-bottom: 2px solid #444;
}

#navbar-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-inner h2 {
  color: #667;
}

#nav-links {
  display: flex;
  gap: 1rem;
}

#submit-btn {
  cursor: pointer;
  background-color: #0666afb6;
  color: #000;
  border: none;
  width: 4rem;
  height: 2rem;
  border-radius: 5px;
}

/* 3 - Main */

.container {
  display: flex;
  gap: 3rem;
  padding: 2em 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

#info-container {
  background-color: #777;
  border-radius: 7px;
  padding: 1.5rem 1rem;
  width: 99%;
  flex: 1 1 0;
}

#info-container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

#info-container p {
  margin-bottom: 5px;
  font-size: 2rem;
}

#email-container {
  background-color: #ddd;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border-radius: 5px;
  margin-top: 10px;
  flex: 1 1 0;
}

#input-container {
  background-color: #777;
  border-radius: 7px;
  padding: 1.5rem 1rem 0.5rem 1.5rem;
  width: 99%;
  display: flex;
  flex: 1 1 0;
}

#input-container h2 {
  margin-bottom: 8px;
}

#input-container input,
#input-container textarea {
  display: block;
  margin-bottom: 8px;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 80%;
}

#input-container input[type="submit"] {
  cursor: pointer;
  background-color: #0666afb6;
  color: #000;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}

@media (max-width: 450px) {
  .container {
    flex-wrap: wrap;
  }
}
