h1 {
    color: blueviolet;
}
.oda {
    color: aliceblue;
    background-color: #0000ff;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#polo {
    color: #000;
    background-color: #1cd125;
}
.rgba {
    color: rgba( 200, 39, 188, 0.2);
}
.pono {
    background-color:  rgba( 200, 39, 188, 0.2);
}
.bg-image {
    background-image: url(../img/pao1.jfif);
    padding: 10px;
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
}
.lala {
    padding: 20px, 10px;
    background-color: #666;
    color: #fff;
    width: 300px;
    box-sizing: border-box;
}
.lol {
    font-size: 60px;
    padding: 50px;
}
.boxmodel {
    margin: 100px;
    padding: 20px 30px;
    border: 20px double #123;
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    background-color: #333;
    border-radius: 16px;
}
.serif {
    font-family: serif;
}
.sans-serif {
    font-family: sans-serif;
}
.monospace {
    font-family: monospace;
}
.fantasy {
    font-family: fantasy;
}
.cursive {
    font-family: cursive;
}
.serif2 {
    font-family: Georgia;
}
.sans-serif2 {
    font-family: Helvetica;
}
.monospace2 {
    font-family: courier new;
}
p {
    font-size: 40px
}
.relative {
    position: relative;
    background-color: #224;
    color: #fff;
    width: 300px;
    height: 100px;
    top: 100px;
    left: 300px;
}
.absolute {
        position: absolute;
    background-color: #224;
    color: #fff;
    width: 300px;
    height: 100px;
    top: 1px;
    left: 1px;
}
.absolute2 {
            position: absolute;
    background-color: #224;
    color: #fff;
    width: 300px;
    height: 100px;
    top: 100px;
    right: 100px;
}
