/* 1 - Geral */
* {
  padding: 0;
  margin: 0;
  font-family: Georgia;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #667;
  transition: 0.4s;
}

a:hover {
  color: #37a1f7;
}

body {
  background-color: #222;
}

/* 2 - Navbar */

#navbar {
  padding: 1.5rem 2.5rem;
  border-bottom: 2px solid #444;
}

#navbar-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-inner h2 {
  color: #667;
}

#nav-links {
  display: flex;
  gap: 1rem;
}
/* 3 - Main */

.container {
  display: flex;
  gap: 3rem;
  padding: 2em 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1 1 0;
}

#posts-container {
  flex: 3 1 0;
}

.post {
  margin-bottom: 2.5rem;
}

.post img {
  width: 100%;
  margin-bottom: 1rem;
}

.description {
  color: #676;
}

.title,
.description,
.author {
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
}

.author {
  color: #667;
  font-weight: bold;
}

/* 4 - Sidebar */

#sidebar {
  flex: 1 1 0;
}

#search-bar,
#tags,
#categories {
  padding: 1.5rem;
  border: 1px solid #444;
  margin-bottom: 1rem;
}

#search-bar h4,
#tags h4,
#categories h4 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  color: #667;
}

#search-bar form {
  display: flex;
}

#search-bar input {
  padding: 0.5rem 1rem;
  border: 1px solid #444;
}

#search-bar input[type="submit"] {
  cursor: pointer;
  background-color: #0666afb6;
  color: #000;
  border: none;
}

#categories li {
  margin-bottom: 1rem;
}

#tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#tags-container a {
  background-color: #111;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
}

/* Footer */

#footer {
  border-top: 2px solid #000;
  text-align: center;
  padding: 2rem;
}

#footer h2,
#footer p {
  margin-bottom: 1rem;
}

@media (max-width: 450px) {
  .container {
    flex-wrap: wrap;
  }
}
