/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  display: flex;
  background-color: #34db7a;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  width: 400px;
  height: 260px;
  border-radius: 10px;
  padding: 20px;
  transition: 0.2s;
}

.container.active {
  height: 500px;
}
/* Header */
#qr-header {
  text-align: center;
}

#qr-header h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

#qr-header p {
  color: #444;
  font-size: 0.9rem;
}

/* Form */
#qr-form {
  margin: 20px 15px;
}

#qr-form input,
#qr-form button {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
}

#qr-form input {
  padding: 10px 15px;
  border: 1px solid #777;
}

#qr-form button {
  margin-top: 15px;
  background-color: #086824;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.4s;
}

#qr-form button:hover {
  opacity: 1;
}

/* QR Code */
#qr-code {
  display: flex;
  opacity: 0;
  border: 2px solid #ccc;
  padding: 30px 0;
  margin: 20px 15px;
  justify-content: center;
  border-radius: 5px;
  transition: 0.5s;
}

.container.active #qr-code {
  opacity: 1;
}
